.register-content {
    max-width: 1230px;
    margin: 30px auto;
    width: 60%;
}

.register-content__heading {
    font-size: 32px;
    font-weight: 600;
    color: #333333;
}

.register-content__form {
    width: 100%;
}

.register-form__group {
    margin-bottom: 30px;
    color: #4B4B4B;
}

.register-form__group--image {
    margin-bottom: 30px;
    color: #4B4B4B;
    width: 50%;
}

.register-form__group-title {
    display: flex;
    align-items: center;
}

.register-form__label--item {
    margin-right: 10px;
    font-size: 16px;
    font-weight: 300;
}

.register-form__label--required {
    font-size: 12px;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #FD0707;
    padding: 0 5px;
}

.register-form__label--notice {
    font-size: 12px;
    font-weight: 300;
    color: #FD0707;
    margin-left: 10px;
}

.register-form__error {
    font-size: 14px;
    font-weight: 300;
    color: #FD0707;
}

.content-error__text {
    list-style: none;
}

.register-form__input input,
.register-form__input--textarea textarea {
    width: 100%;
    background: #FFFFFF;
    outline: none;
    border: 1px solid #E0DFDE;
    font-size: 14px;
    font-weight: 300;
    padding: 11px 10px;
    margin-top: 10px;
}

.register-form__input--image {
    margin-top: 10px;
}

.image-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #E0DFDE;
    border: 1px solid #4B4B4B;
    cursor: pointer;
    font-weight: 300;
    font-size: 14px;
    color: #4B4B4B;
}

.image-wrap img {
    width: 100%;
    margin-bottom: 10px;
}

.preview-image,
.image-input {
    display: none;
}

.filename-display {
    font-size: 14px;
    color: #888888;
}

.register-form__input--textarea textarea {
    height: 160px;
    resize: none;
}

.register-form__input--checkbox {
    padding: 5px 0;
}

.custom-checkbox {
    font-weight: 300;
    font-size: 16px;
    color: #4B4B4B;
    margin-right: 50px;
    position: relative;
    padding-left: 20px;
    display: inline-flex;
    align-items: center;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox .checkmark {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: 1px solid #4B4B4B;
    border-radius: 50%;
    background: transparent;
    pointer-events: none;
}

.custom-checkbox input[type="checkbox"]:checked+.checkmark {
    background-color: #4B4B4B;
    background-image: url('/storage/checkmark.png');
}

.register-form__button-wrap {
    text-align: center;
}

.register-form__button {
    width: 30%;
    height: 50px;
    padding: 13px 10px;
    font-size: 16px;
    font-weight: 600;
    color: #4B4B4B;
    border-radius: 5px;
    box-shadow: 0 4px 10px #0000001A;
}

.back {
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    background-color: #E0DFDE;
    cursor: pointer;
}

.register {
    appearance: none;
    border: none;
    cursor: pointer;
    background-color: #F5C800;
}